<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>973524881810-3cpm1u81hmlm7sm1ib8gg3n82fga4nl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973524881810-3cpm1u81hmlm7sm1ib8gg3n82fga4nl6</string>
	<key>API_KEY</key>
	<string>AIzaSyBxaZUwNJSy0YJ8j5jS06O47Xjw9iXFkJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>973524881810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.worldoceanwinds.stoked</string>
	<key>PROJECT_ID</key>
	<string>fir-chatexample-43f17</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chatexample-43f17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:973524881810:ios:f0bc5779e2886469</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chatexample-43f17.firebaseio.com</string>
</dict>
</plist>